<h2 style="color: white;"> Pixabay test : </h2>
<br/>
<div>
  <div>
      <table class="table table-light table-hover">
          <thead>
              <tr>
                  <th> ID</th>
                  <th> Views</th>
                  <th> Likes</th>
                  <th> Tags</th>
                  <th> Preview</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let p of Pixabay.hits">
                  <td> {{p.id}}</td>
                  <td> {{p.views}}</td>
                  <td> {{p.likes}}</td>
                  <td> {{p.tags}}</td>
                  <td> 
                    <img [src]="p.previewURL" height="144"> <br/>
                  </td>
                </tr>
          </tbody>
      </table>
  </div>
</div>
<!--
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.pixabay.com/photo/2022/01/20/14/16/ladybug-6952412_960_720.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2022/01/05/00/13/squirrel-6916189_960_720.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2022/01/23/13/04/sparrow-6960807_960_720.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
-->
