<div class = "spotify">


    
    <button (click)= "loginSpotify();" class="btn" style="background-color: #C5D8A4; color: #534340; box-shadow: 2px 1px 5px #C5D8A4;">Connexion spotify</button>
    </div>
    <div *ngIf="divSpotify" >
    
        
        <h2 style="color: #C5D8A4; margin-top: 10px;"> Saisir artiste / titre : &nbsp; <input id="son" required> &nbsp; &nbsp; &nbsp;
        
            <button class="btn" type="button" (click)="chercherSons();" style="background-color: #C5D8A4; color: #534340; box-shadow: 2px 1px 5px #C5D8A4;"> Rechercher </button>
    
        </h2>
            
            <div class="container"> 
                <div class="row">
                    <div id="song_0" class="col"></div>
                    <div id="song_1" class="col"></div> 
                </div>
            </div>
        <h4> <div id="nom_user"> </div> </h4>
    </div>