<div class = "spotify">

    <img href="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1024px-Spotify_logo_without_text.svg.png" width="85" height="83" onclick="loginSpotify();" />
    
<button class="btn-default animation-on-hover" type = "button" (click)= "loginSpotify();">Connexion spotify</button>
</div>
<div *ngIf="divSpotify" >

    
    <h3> Saisir artiste / titre : &nbsp; <input id="son" required> &nbsp; &nbsp; &nbsp;
    <button class="btn" type="button" (click)="chercherSons();" style="background-color: #534340; color: #C5D8A4; box-shadow: 3px 1px 5px #534340;"> Rechercher </button> </h3>
        
        <div class="container"> 
            <div class="row">
                <div id="song_0" class="col"></div>
                <div id="song_1" class="col"></div> 
            </div>
        </div>
    <h4> <div id="nom_user"> </div> </h4>
</div>