<div class="spotify">
    <button class="btn-default animation-on-hover" type = "button" (click)= "loginSpotify();">Connexion spotify</button>
    <!-- <h3> Saisir artiste / titre : &nbsp; <input id="son" required> &nbsp; &nbsp; &nbsp; <button class="btn btn-success animation-on-hover"
        type="button" (click)="chercherSons();"> Rechercher </button> </h3> -->
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    
        <div class="container"> 
            <div class="row">
                <div id="song_0" class="col"></div>
                <div id="song_1" class="col"></div> 
            </div>
        </div>
    <h4> <div id="nom_user"> </div> </h4>
</div>