header {
    background-color: #b18262; 
    border-radius: 30px; 
    margin-left: 20px; 
    margin-top: 10px; 
    margin-right: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

h1 {
    color: white;
    margin-left: 20px;
}

.api-pixabay {
    margin-top: 10px; 
    margin-left: 5%;
}

.menu-deroulant {
    background-color: white;
    margin-top: 5%;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    color: blue;
}

body {
    background-color: #272a20;
}

.col-md-7 {
    margin-top: 50px;
    height: 700px;
    background-color: #272a20;
}

.right-side {
    background-color: #272a20;
    margin-top: auto;
    height: 700px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: auto;
}

center {
    margin:auto;
    padding:auto;
    font-family: sans-serif;
    background: linear-gradient(#E0EAFC, #CFDEF3);
    height: 100vh;
}

.center, .content {
    position: absolute;
    top: 5%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#click {
    display: none;
}

.click-me {
    top: 10%;
    left: 70%;
    display: block;
    width: 100px;
    height: 50px;
    background-color: #27ae60;
    border: 1px solid #26a65b;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor:pointer;
    transition: .5s;
}

.click-me:hover {
    background: #219150;  
}

.content {
    opacity: 0;
    visibility: hidden;
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 3px;
    transition: .3s ease-in ;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4); 
    user-select: none;   
}

#click:checked ~ .content {
    opacity: 1;
    visibility: visible  ;
     
}

.header {
    height: 68px;
    background-color: #27ae60;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
}

.header h2 {
    color: white;
    padding-left: 32px;
    font-weight: normal;
}

.fa-times {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #e8f7fc;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;   
}

.fa-check {
    font-size: 50px;
    color: #27ae60;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: 2px solid #27ae60;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 30px 0 0 160px;
}

p {
    padding-top: 10px;
    font-size: 19px;
    color: #1a1a1a;
    text-align: center; 
}

.line {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 1px;
    background: silver;
}

.close-btn {
    position: absolute;
    bottom: 12px;
    right: 25px;
    border: 1px solid #27ae60;
    border-radius: 3px; 
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}

.close-btn:hover {
    background: #27ae60;
    color: white;
    transition: .5s; 
}