<div style="overflow-x:auto; margin-left: 5%; margin-right: 5%;">
    <table>
        <td *ngFor="let stat of statsItem">
            <tr *ngFor="let rune of stat.runes" style="margin: 5%;">
                <!-- <span class="input-group-text" id="addon-wrapping">{{rune.nom}}</span> -->
                <input #boxRune (blur)="updatePrixRune(rune, boxRune.value)"
                    id="floatingInput" placeholder="{{rune.nom}}" type="text" class="form-control" maxlength="6" size="3" alt="{{rune.nom}}">
            </tr>
            
        </td>
    </table>
</div>
