<div class="component">
    <h3>
        <img class="twitch" src="https://brand.twitch.tv/assets/images/black.png" alt="">
        Pour voir du contenu en direct...
    </h3>
    <div class="container-fluid">
        <div class="scrolling-wrapper row flex-row flex-nowrap mt-1 pb-1 pt-1">
            <tr *ngFor="let d of StreamerList.data">
                <div class="card" style="width: 15rem;" style="margin-right: 1px; height: 300px;">
                    <img src="{{d.thumbnail_url}}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">{{d.display_name}}</h6>
                        <p class="card-text">{{d.title}}</p>
                        <a href="https://www.twitch.tv/{{d.broadcaster_login}}" class="btn btn-success" style="background-color: #534340; margin: auto;">Regarder</a>
                    </div>
                </div>
            </tr>
        </div>
    </div>
</div>