@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

h3 {
    color: white;;
}

.component {
    font-family: 'League Spartan', sans-serif;
    position: relative; 
    width: 450px; 
    margin-top: 20px;
    margin: auto;
}

.jeu {
    font-family: 'League Spartan', sans-serif;
    background-color:rgb(190, 140, 236); 
    border-bottom: 1px solid rgb(117, 112, 112);
}


td {
    font-family: 'League Spartan', sans-serif;
    background-color:rgb(230, 226, 231); 
    border-bottom: 1px solid rgb(117, 112, 112);
}

.twitch {
    font-family: 'League Spartan', sans-serif;
    width: 25px;
    height: 35px;
}

.scrolling-wrapper{
    overflow-x: auto;
}


.subtitle{
    font-size: 1.25em;
    opacity: 0.65;
}

.card-block{
    height: 300px;
    background-color: #fff;
    border: none;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out !important;
    border-radius: 24px;
}

.card {
    background: linear-gradient( #534340 , #9b7f5b);
}

.card-text {
    font-size: 1;
}

img {
    width: 120px; 
    height: 120px; 
    margin: auto; 
    border-radius: 5px; 
    margin-top: 5px;
}
