<div class="component">
    <h2>
        <img src="https://brand.twitch.tv/assets/images/black.png" alt="">
        Pour voir du contenu en direct...
    </h2>
    <div class="scroll-bar">
        <table>
            <thead>
                <tr>
                    <th class="case-statut"></th>
                    <th class="case-streamer">Nom streamer</th>
                    <th class="case-jeu">Jeu</th>
                    <th class="case-titre">Titre</th>
            </thead>
            <tbody>
                <tr *ngFor="let i of StreamerList.data">
                    <td> 🔴</td>
                    <td>
                        <a href="https://www.twitch.tv/{{i.display_name}}" target="_blank" style="color: black;">
                            {{i.display_name}}
                        </a>
                    </td>
                    <td class="jeu">{{ i.game_name }}</td>
                    <td>{{ i.title }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>